<%- include('includes/head'); %> <%- include('includes/nav'); %>

<div class="container">
  <h1 class="display-1 text-center my-4">ERRO 404!</h1>
  <p class="text-center">A página que você procura não existe.</p>
</div>

<%- include('includes/footer'); %>
